{% extends "base.html" %}
{% load staticfiles %}
{% load gravatar %}

{% block head_js %}

    <link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}">
    <link rel="stylesheet" href="{% static 'css/dc.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block content %}
    
    <div id="outer" class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 align-picture">
                <span id="profile-image"></span>
            </div>
            <div class="col-md-8">
                <h1>{{ screen_name }}</h1>
                <form action="" method="GET">
                    <span>Change dataset: </span>

                    {% comment %} The ID "choose-collection is targeted by a JS script through getElementById to detect changes
                    in the option selector, and injecting the selection to the URL, thus triggering a URL change event
                    that is caught by Django's urls.py router which calls the apropriate function. {% endcomment %}

                    <select id="choose-collection">
                        {% for i in coll %}
                            {% if i == screen_name %}
                                <option selected value="{{i}}">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}S
                        {% endfor %}
                    </select>

                    <span><a href="javascript:dc.filterAll(); dc.renderAll(); dc.redrawAll(); dc.refocusAll();">Reset All</a></span>
                </form>
            </div>
            <div class="col-md-1 fixed-tweets">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Total Tweets
                    </div>
                    <div class="chart-stage">
                        <div id="total-tweets"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container padding_top col-sm-12">
		<div class="panel panel-default inner_div">
			<div class="panel-heading">
				<h3 class="panel-title text-center">
						Scatter Plot by Period of Day (Zoomable)
				</h3>
			</div>
			<div>
				<div class="panel-body">
					<div class="chart-stage">
                        <div id="scatter-Tweets-by-period-of-day"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="container padding_top col-sm-12">
		<div class="panel panel-default inner_div">
			<div class="panel-heading">
				<h3 class="panel-title text-center">
						Original content vs retweets by Date (Zoomable)
				</h3>
			</div>
			<div>
				<div class="panel-body">
					<div class="chart-stage">
                        <div id="unique-tweets-chart"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="container padding_top col-sm-12">
		<div class="panel panel-default inner_div">
			<div class="panel-heading">
				<h3 class="panel-title text-center">
						Pie Charts
				</h3>
			</div>
			<div>
				<div class="panel-body">
					<div class="col-sm-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Hashtags
                            </div>
                            <div class="chart-stage">
                                <div id="hashtag-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Original content vs retweets
                            </div>
                            <div class="chart-stage">
                                <div id="unique-tweets-pie"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Tweets by Day of the Week
                            </div>
                            <div class="chart-stage">
                                <div id="tweets-by-day-of-week"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Tweets by Period of Day
                            </div>
                            <div class="chart-stage">
                                <div id="tweets-by-period-of-day"></div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="container padding_top col-sm-12">
		<div class="panel panel-default inner_div">
			<div class="panel-heading">
				<h3 class="panel-title text-center">
                        Tweets by Day
				</h3>
			</div>
			<div>
				<div class="panel-body">
					<div class="chart-stage">                        
                        <div id="time-chart"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/crossfilter.js' %}"></script>
    <script src="{% static '/js/d3.js' %}"></script>
    <script src="{% static '/js/dc.js' %}"></script>
    <script src="{% static '/js/queue.js' %}"></script>
    <script src="{% static '/js/keen.min.js' %}"></script>
    <script src="{% static 'js/graph.js' %}"></script>
    <script src="{% static 'js/selection.js' %}"></script>
    <script>getData('{{screen_name}}')</script>

{% endblock %}