.navbar-form input,
.form-inline input {
  width: auto;
}

body {
  /* background: url('{{ /media/images/background-laptop.jpeg'); */
  /* background: url('{{ MEDIA_URL }}/media/images/background-laptop.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.wrapper {
  min-height: 95vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1,
h1 a {
  color: #555555;
  text-decoration: none;
}

#masthead {
  padding-left: 10px;
  min-height: 199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top: 50px;
}

#masthead .well {
  margin-top: 31px;
  min-height: 127px;
}

.navbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  color: #12ab82;
}

.story-img {
  margin-top: 25%;
  display: block;
}

.profile-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

a,
a:hover {
  color: #223344;
  text-decoration: none;
}

.icon-bar {
  background-color: #fff;
}

.dropdown-menu {
  min-width: 250px;
}

.thumbnail {
  margin-bottom: 8px;
}

.img-container {
  overflow: hidden;
  height: 170px;
}

.img-container img {
  min-width: 280px;
  min-height: 180px;
  max-width: 380px;
  max-height: 280px;
}

.txt-container {
  overflow: hidden;
  height: 100px;
}

.panel .lead {
  overflow: hidden;
  height: 90px;
}

.label-float {
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  padding: 6px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.gray-background {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

.align-footer {
  top: 80%;
}

.dc-chart g.row text {
  fill: black;
  font-size: 12px;
}

.dc-select-menu {
  background: #33cc99;
  width: 80%;
  border: none;
  position: relative;
  height: 31px;
  font-size: 15px;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 0px;
}

.fixed-tweets {
  z-index: 1000;
  left: 12%;
  top: 11.5%;
  position: fixed;
}

.navbar-brand {
  color: #555555;
}

.align-picture {
  padding: 15px 0;
}

.position-this {
  display: inline-block;
}

/*author:starttemplate*/
/*reference site : starttemplate.com*/

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff !important;
  opacity: 1; /* Firefox */
  font-size: 18px !important;
}

.form-login {
  background-color: rgba(0, 0, 0, 0.55);
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  color: black;
  box-shadow: 0 1px 0 #cfcfcf;
}
.form-control {
  background: transparent !important;
  font-size: 18px !important;
}
h4 {
  border: 0 solid #fff;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center;
}

.form-control {
  border-radius: 10px;
}
.wrapper {
  text-align: center;
}
.footer p {
  font-size: 18px;
}
/* WebKit, Blink, Edge */
.form-control::-webkit-input-placeholder {
	color: #595858 !important;
}
/* Mozilla Firefox 4 to 18 */
.form-control:-moz-placeholder {
	color: #595858 !important;
}
/* Mozilla Firefox 19+ */
.form-control::-moz-placeholder {
	color: #595858 !important;
}
/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder {
	color: #595858 !important;
}
/* Microsoft Edge */
.form-control::-ms-input-placeholder {
	color: #595858 !important;
}